{% extends 'base.html' %}

{% block title %}Forgot Password | efoodbasket{% endblock %}

{% block titleLinks %}
    <link rel="stylesheet" type="text/css" href="/public/css/form.css">
    <link rel="stylesheet" type="text/css" href="/public/css/otp-notice.css">
{% endblock %}

{% block main %}
    <div class="max-width-wrapper">
        <div class="otp-wrapper">
            <div class="otp-container">
                <div class="otp-img-wrapper">
                    <img class="logo-img" src="/public/images/efoodbasket-name.png" alt="Logo">
                </div>
                <div class="otp-body">
                    <div class="otp-mssg">
                        <div>
                            Enter an email of your account. We will send a password reset link to your email to help you. 
                        </div>
                        <form class="otp-form" method="post">
                            <div class="otp-inpt-wrapper">
                                <input type="email" name="email" placeholder="Enter your email..." value="{{ email }}">
                                <button>Submit</button>
                            </div>
                            <div class="otp-error-div">
                                <small class="red-text">{{ errors.email }}</small>
                            </div>
                        </form>
                        <!-- <div>
                            *Note:- Code will expire after 5 minutes. 
                            <form class="otp-inline-form" method="POST" action="/user/verify-email/">
                                <input type="hidden" name="resend" value="" />
                                <button class="submit">RESEND</button>
                            </form>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}