{% extends 'base.html' %}
{% load static %}

{% block title %}Manage Account | efoodbasket{% endblock %}

{% block titleLinks %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block main %}
<div class="max-width-wrapper">
    <div class="profile-outer-wrapper">
        <div class="profile-wrapper">
            <div class="profile-heading">
               User Profile
            </div>
           {% if user.is_trader %}
            <div class="add-shop-title-wrapper">
                <a href="{% url 'product_create' %}" class="add-shop-title-btn add">
                    <span class="iconify" data-icon="carbon:add-alt" data-inline="false"></span>
                    Product
                </a>
                <a href="{% url 'shop_list' %}" class="add-shop-title-btn add">
                    Shops
                </a>
            </div>
            {% endif %}
            <div class="profile-container">
               <div class="user-icon-wrapper">
                   <img class="user-icon-img" src="{% static 'images/user-avatar.svg' %}" alt="User-profile-icon">
               </div>
                <div class="profile-form-wrapper">
                    <form id="profile-form" class="profile-form" method="POST" >
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-col-2">
                                <div class="inpt-wrapper">
                                    <label for="fullNameId">Full Name</label>
                                    <input class="input-can-update" id="fullNameId" type="text" name="fullname" placeholder="Your Name..." value="{% if 'fullname' in preserved %}{{preserved.fullname}}{% else %}{{user.fullname}}{% endif %}" {% if not 'fullname' in preserved %}readonly{% endif %}>
                                    <small class="red-text">{{ errors.fullname }}</small>
                                </div>
                            </div>
                            <div class="form-col-2">
                                <div class="inpt-wrapper">
                                    <label for="addressId">Address</label>
                                    <input class="input-can-update" id="addressId" type="text" name="address" placeholder="Your Address..." value="{% if 'address' in preserved %}{{preserved.address}}{% else %}{{user.address}}{% endif %}" {% if not 'address' in preserved %}readonly{% endif %}>
                                    <small class="red-text">{{ errors.address }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-col-2">
                                <div class="inpt-wrapper">
                                    <label for="emailId">Email</label>
                                    <input id="emailId" type="email" placeholder="Your Email..." value="{{ user.email }}" disabled="disabled" readonly>
                                </div>
                            </div>
                            <div class="form-col-2">
                                <div class="inpt-wrapper">
                                    <label for="contactId">Contact</label>
                                    <input class="input-can-update" id="contactId" type="text" name="contact" placeholder="Your Contact..." value="{% if 'contact' in preserved %}{{preserved.contact}}{% else %}{{user.contact}}{% endif %}" {% if not 'contact' in preserved %}readonly{% endif %}>
                                    <small class="red-text">{{ errors.contact }}</small>
                                </div>
                            </div>
                        </div>

                        {% if user.is_trader %}
                        <div class="form-row">
                            <div class="form-col-2">
                                <div class="inpt-wrapper">
                                    <label for="panId">PAN</label>
                                    <input id="panId" type="text" name="pan" placeholder="Your PAN..." value="{{ user.trader.pan }}" disabled readonly>
                                </div>
                            </div>
                            <div class="form-col-2">
                                <div class="inpt-wrapper">
                                    <label for="product_typeId">Product Type</label>
                                    <input id="product_typeId" type="text" name="product_type" placeholder="Your product_type..." value="{{ user.trader.product_type }}" disabled readonly>
                                </div>
                            </div>
                        </div>
                        <div class="inpt-wrapper">
                            <label for="product_typeId">Product Details</label>
                            <textarea id="product_detailId" name="product_detail" placeholder="Your product details..." disabled readonly>{{ user.trader.product_details }}</textarea>
                        </div>
                        {% endif %}
                        
                    </form>
               </div>
           </div>
           <div class="profile-btn-wrapper">
            <button id="edit-btn" class="main-btn-link edit-prfl-btn {% if preserved %}enabled{% endif %}">{% if preserved %}Save{% else %}Edit Profile{% endif %}</button>
            <a class="main-btn-link" href="{% url 'change_password' %}">Change Password</a>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/manage-account.js' %}"></script>
{% endblock %}