{% extends 'base.html' %}

{% block title %}Reset Password | efoodbasket{% endblock %}

{% block titleLinks %}
    <link rel="stylesheet" type="text/css" href="/public/css/form.css">
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">
{% endblock %}

{% block main %}
    <div class="max-width-wrapper">
        <div class="login-outer-wrapper">
            <div class="login-wrapper">
                
                <div class="login-container">
                    <div>
                        <img src="/public/images/efoodbasket-name.png" class="login-logo" alt="">
                    </div>
                    <div class="form-wrapper">
                        <form class="login-form" method="POST" >
                            <div class="inpt-wrapper">
                                <label for="newPassId">New Password</label>
                                <input id="newPassId" type="password" name="password" placeholder="Your New Password...">
                                <small class="red-text">{{ errors.password }}</small>
                            </div>
                            <div class="inpt-wrapper">
                                <label for="confPassId">Confirm Password</label>
                                <input id="confPassId" type="password" name="confpass" placeholder="Confirm Password...">
                                <small class="red-text">{{ errors.confpass }}</small>
                            </div>
                            <div class="note-links-wrapper">
                                <a href="#" class="note-link">
                                    Login?
                                </a>
                            </div>
                            <div class="login-btn-wrapper">
                                <button class="login-btn" type="submit">Save</button>
                            </div>
                        </form>
                        <div class="login-footer">
                            <span>New to e-food basket? </span>
                            <a href="/signup/" class="note-link-under">Create Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}