{% extends 'base.html' %}
{% load static %}

{% block title %}Signup | efoodbasket{% endblock %}

{% block titleLinks %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/otp-notice.css' %}">
{% endblock %}

{% block main %}
    <div class="max-width-wrapper">
        <div class="otp-wrapper">
            <div class="otp-container">
                <div class="otp-img-wrapper">
                    <img class="logo-img" src="{% static 'images/efoodbasket-name.png' %}" alt="Logo">
                </div>
                <div class="otp-body">
                    <div class="otp-mssg">
                        <div>
                            We have sent you a 6-digits verification code to your email. Please check your inbox and enter the code below: 
                        </div>
                        <form class="otp-form" action="{% url 'verify_email' user_id %}" method="post">
                            {% csrf_token %}
                            <div class="otp-inpt-wrapper">
                                <input type="number" name="code" placeholder="Your code...">
                                <button>Submit</button>
                            </div>
                            <div class="otp-error-div">
                                <small class="red-text">{{ error }}</small>
                            </div>
                        </form>
                        <div>
                            *Note:- Code will expire after 5 minutes. 
                            <form class="otp-inline-form" method="POST" action="{% url 'verify_email' user_id %}">
                                {% csrf_token %}
                                <input type="hidden" name="resend" value="resend" />
                                <button class="submit">RESEND</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}