{% extends 'base.html' %} {% block title %}Cart | efoodbasket{% endblock %} 
{% load static %}
{% load extras %}

{% block titleLinks %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}" />
{% endblock %} 

{% block main %}
<div class="max-width-wrapper">
  <div class="cart-outer-wrapper">
    <div class="cart-progress-wrapper">
      <div class="cart-progress-container">
        <div id="progress-bar-shopping" class="cart-progress active">
          Shopping Cart
        </div>
        <div id="progress-bar-collection" class="cart-progress">
          Collection Slot
        </div>
        <div id="progress-bar-payment" class="cart-progress">Payment</div>
        <div id="progress-bar-success" class="cart-progress">
          Order Successful
        </div>
      </div>
    </div>
    <div id="cart-wrapper" class="cart-items-summary-outer-wrapper">

      <div id="shopping-cart" class="cart-items-summary-wrapper">
        <div class="check-all-carts-wrapper">
          <div class="select-check-wrapper">
            <label class="select-check-container">
              Select all item(s) (<span id="cart-items-selected">{{ user_cart_count }}</span> item(s))
              <input id="checkAllCheckbox" type="checkbox" />
              <span class="checkmark"></span>
            </label>
            <div id="main-delete" class="check-all-delte-wrapper">
              <span
                class="iconify"
                data-icon="fluent:delete-20-regular"
                data-inline="false"
              ></span>
              <span>Delete</span>
            </div>
          </div>
        </div>
        <div class="cart-items-summary-container">
          <div class="cart-items-container">
            <div class="card-row">
              {% for cartItem in carts %}
              <div class="card-col-big" data-product-id="{{ cartItem.product.id }}">
                <label class="select-check-container">
                  <input
                    class="each-checkbox"
                    type="checkbox"
                    data-product-id="{{ cartItem.product.id }}"
                    data-product-price="{{ cartItem.product.price }}"
                    data-product-quantity="{{ cartItem.quantity }}"
                    data-product-total="{{ cartItem.total_price }}"
                    data-product-discount="{{ cartItem.product.discount }}"
                  />
                  <span class="checkmark"></span>
                </label>
                <div class="card-big">
                  <div class="card-img-wrapper">
                    <a href="{% url 'product_detail' cartItem.product.id %}">
                      <img
                        class="card-big-img"
                        src="{{ cartItem.product.thumbnail_url }}"
                        alt="cart-item"
                      />
                    </a>
                  </div>
                  <div class="card-big-body">
                    <div class="card-big-title">
                      <a href="{% url 'product_detail' cartItem.product.id %}">{{ cartItem.product.name }}</a>
                      <button class="individual-delete-btn each-delete">
                        <span
                          class="iconify"
                          data-icon="fluent:delete-20-regular"
                          data-inline="false"
                        ></span>
                      </button>
                    </div>
                    <div class="card-key-value-wrapper">
                      <div class="card-key-value-row">
                        <div class="card-key no-key-sm">Price</div>
                        <div class="card-value">
                          <div class="card-big-price each-price">&pound;{{ cartItem.product.price|floatformat:2 }}</div>
                        </div>
                      </div>
                      {% if cartItem.product.discount > 0  %}
                      <div class="card-key-value-row">
													<div class="card-value">
													<div class="light-text"><b>{{ cartItem.product.discount|floatformat:2 }}% off</b></div>
													</div>
											</div>
                      {% endif %}
                      <div class="card-key-value-row cart-trader-name">
                        <div class="card-key">Shop</div>
                        <div class="card-value">
                          <span>{{ cartItem.product.shop.name }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="quantity-total-wrapper">
                      <div class="quantity-wrapper">
                        <span class="no-key-sm">Quantity</span>
                        <button class="quantity-btn each-subtract add-to-cart" data-product-id="{{cartItem.product.id}}" data-quantity="{{ cartItem.quantity }}">-</button>
                        <span class="quantity each-quantity">{{cartItem.quantity}}</span>
                        <button class="quantity-btn each-add add-to-cart {% if user_cart_count >= 40 %}disabled{% endif %}" data-product-id="{{cartItem.product.id}}" data-quantity="{{ cartItem.quantity }}">+</button>
                      </div>
                      <div class="total-wrapper">
                        <div class="total-text">Total</div>
                        <div class="total-value each-total">&pound;{{ cartItem.total_price|floatformat:2 }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% empty %}
              <div style="margin: 60px auto; text-align:center;">No cart item added</div>
              {% endfor %}
            </div>
          </div>
          <div class="cart-summary-wrapper">
            <div class="cart-summary-container">
              <div
                id="cart-summary"
                class="cart-summary-heading"
                data-cart-sub-total="200"
                data-cart-discount="0"
                data-cart-grand-total="200"
              >
                Order Summary
              </div>
              <div class="cart-summary-body">
                <div class="cart-summary-row">
                  <div class="cart-summary-key">
                    Sub total (<span class="subtotal-items">{{ user_cart_count }}</span>
                    items)
                  </div>
                  <div id="cart-sub-total" class="cart-summary-value">
                    &pound;{{ cart.total_price|floatformat:2 }}
                  </div>
                </div>
                <div class="cart-summary-voucher-wrapper">
                  <div>Voucher Code</div>
                  <div class="voucher-form">
                    <input type="text" id="voucher-inpt" />
                    <button id="voucher-btn">Apply</button>
                  </div>
                </div>
                <div class="cart-summary-row">
                  <div class="cart-summary-key">Discount</div>
                  <div id="cart-discount" class="cart-summary-value">0%</div>
                </div>
                <div class="cart-summary-row">
                  <div class="cart-summary-key">Total</div>
                  <div class="cart-summary-value light-text cart-total-price">
                    &pound;{{ cart.total_price|floatformat:2 }}
                  </div>
                </div>
              </div>
              <div class="card-summary-footer">
                <button id="proceed-btn" class="cart-proceed {% if cart.isEmpty %}disabled{% endif %}">
                  Proceed to Checkout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="collection-slot" class="cart-items-summary-wrapper">
        <div class="cart-items-summary-container">
          <div class="cart-items-container">
            <div class="collection-card-wrapper">
              <div class="slot-header">Slot and Day</div>
              <div class="collection-container">
                <div class="collection-row">
                  <div class="collection-title-wrapper">
                    <div class="collection-title-key">
                      <span
                        class="iconify"
                        data-icon="bi:calendar-week"
                        data-inline="false"
                      ></span>
                      Collection Day
                    </div>
                  </div>
                  <div>
                    <div class="next-week-div">This week</div>
                    {% regroup collection_slots by day as collection_days %}
                    {% for day in collection_days %}
                      <div
                        class="slot-item each-collection-day"
                        data-collection-day="{{day.grouper}}" 
                        data-available-slot="{% for slot in day.list %}{% if forloop.last %}{{slot.id}}{% else %}{{slot.id|stringformat:'i'|add:','}}{% endif %}{% endfor %}"
                        data-slot-display="{% for slot in day.list %}{% if forloop.last %}{{slot.shift}}{% else %}{{slot.shift|add:','}}{% endif %}{% endfor %}"
                        data-collection-date="{{day.grouper|get_this_week_by_day}}"
                      >
                        <div class="slot-key">
                          <span
                            class="iconify"
                            data-icon="gridicons:product"
                            data-inline="false"
                          ></span>
                          <span>{{day.grouper|title}} ({{day.grouper|get_this_week_by_day|date:"d M"}})</span>
                        </div>
                      </div>
                    {% endfor %}
                    <div class="next-week-div">Next week</div>
                    {% for day in collection_days %}
                      <div
                        class="slot-item each-collection-day"
                        data-collection-day="NEXT {{day.grouper}}"
                        data-available-slot="{% for slot in day.list %}{% if forloop.last %}{{slot.id}}{% else %}{{slot.id|stringformat:'i'|add:','}}{% endif %}{% endfor %}"
                        data-slot-display="{% for slot in day.list %}{% if forloop.last %}{{slot.shift}}{% else %}{{slot.shift|add:','}}{% endif %}{% endfor %}"
                        data-collection-date="{{day.grouper|get_next_week_by_day}}"
                      >
                        <div class="slot-key">
                          <span
                            class="iconify"
                            data-icon="gridicons:product"
                            data-inline="false"
                          ></span>
                          <span>{{day.grouper|title}} ({{day.grouper|get_next_week_by_day|date:"d M"}})</span>
                        </div>
                      </div>
                    {% endfor %}

                  </div>
                  <div
                    id="collection-slot-container"
                    class="collection-slot-container"
                  ></div>
                </div>
              </div>
              <div id="back-collection" class="back-btn">
                <span
                  class="iconify"
                  data-icon="ic:sharp-arrow-back-ios-new"
                  data-inline="false"
                ></span>
                Back
              </div>
            </div>
          </div>
          <div class="cart-summary-wrapper">
            <div class="cart-summary-container">
              <div class="cart-summary-heading">Order Summary</div>
              <div class="cart-summary-body">
                <div class="cart-summary-row">
                  <div class="cart-succ-summary-value">
                    <span
                    style="vertical-align: top;"
                      class="iconify collection-summary-icon"
                      data-icon="bx:bx-user"
                      data-inline="false"
                    ></span>
                    <span class="str-wrap-long">{{user.fullname}}</span>
                  </div>
                </div>
                <div class="cart-summary-row">
                  <div class="cart-succ-summary-value">
                    <span
                    style="vertical-align: top;"
                      class="iconify collection-summary-icon"
                      data-icon="eva:email-outline"
                      data-inline="false"
                    ></span>
                    <span class="str-wrap-long">{{user.email}}</span>
                  </div>
                </div>
                <div class="cart-summary-row">
                  <div class="cart-succ-summary-value">
                    <span
                    style="vertical-align: top;"
                      class="iconify"
                      data-icon="akar-icons:phone"
                      data-inline="false"
                    ></span>
                    <span class="str-wrap-long">{{user.beautify_contact}}</span>
                  </div>
                </div>
                <div class="cart-summary-row">
                  <div class="cart-summary-key">Collection Slot</div>
                  <div class="cart-summary-value">
                    <b class="summary-slot">----</b>
                  </div>
                </div>
                <div class="cart-summary-row">
                  <div class="cart-summary-key">Collection Day</div>
                  <div class="cart-summary-value">
                    <b class="summary-day">----</b>
                  </div>
                </div>
                <div class="cart-summary-row">
                  <div class="cart-summary-key">Total</div>
                  <div class="cart-summary-value light-text cart-total-price">
                    &pound;200
                  </div>
                </div>
              </div>
              <div class="card-summary-footer">
                <button id="proceed-slot-btn" class="cart-proceed disabled">
                  Proceed to Payment
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div id="payment" class="cart-items-summary-wrapper">
        <div class="cart-items-summary-container">
          <div class="cart-items-container">
            <div class="payment-card-wrapper">
              <div class="slot-header">Payment Method</div>
              <div class="payment-container">
                <div class="payment-cont-row">
                  <div class="paypal-indicator">
                    <div class="paypal-dot-text">
                      <div class="paypal-dot"></div>
                      <div class="paypal-text">PayPal</div>
                    </div>
                    <div>
                      <img
                        class="sm-paypal-img"
                        src="{% static 'images/paypal-logo.svg' %}"
                        alt="Paypal-logo"
                      />
                    </div>
                  </div>
                </div>
                <div class="payment-cont-row">
                  <div class="paypal-indicator">
                    <div class="paypal-btn-img-wrapper">
                      <div>
                        <img
                          class="lg-paypal-img"
                          src="{% static 'images/paypal-logo.svg' %}"
                          alt="Paypal-logo"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <label class="select-check-container checkPaymentWrapper">
                    <span
                      >I agree with our terms and conditions and privacy
                      policy</span
                    >
                    <input id="checkPaymentTerms" type="checkbox" />
                    <span class="checkmark paymentCheck"></span>
                  </label>
                </div>
                <div class="pay-inform-wrapper">
                  <div class="all-your-data">
                    <span
                      class="iconify"
                      data-icon="carbon:manage-protection"
                      data-inline="false"
                    ></span>
                    <span>All your data are safe</span>
                  </div>
                  <div class="pay-note-">
                    We are using the most advanced security to provide you the
                    best experience ever.
                  </div>
                </div>
              </div>

              <div id="back-payment" class="back-btn">
                <span
                  class="iconify"
                  data-icon="ic:sharp-arrow-back-ios-new"
                  data-inline="false"
                ></span>
                Back
              </div>
            </div>
          </div>
          <div class="cart-summary-wrapper">
            <div class="cart-summary-container">
              <div class="cart-summary-heading">Order Summary</div>
              <div class="cart-summary-body">
                <div class="cart-summary-row">
                  <div class="cart-succ-summary-value">
                    <span
                    style="vertical-align: top;"
                      class="iconify collection-summary-icon"
                      data-icon="bx:bx-user"
                      data-inline="false"
                    ></span>
                    <span class="str-wrap-long">{{user.fullname}}</span>
                  </div>
                </div>
                <div class="cart-summary-row">
                  <div class="cart-succ-summary-value">
                    <span
                    style="vertical-align: top;"
                      class="iconify collection-summary-icon"
                      data-icon="eva:email-outline"
                      data-inline="false"
                    ></span>
                    <span class="str-wrap-long">{{user.email}}</span>
                  </div>
                </div>
                <div class="cart-summary-row">
                  <div class="cart-succ-summary-value">
                    <span
                    style="vertical-align: top;"
                      class="iconify"
                      data-icon="akar-icons:phone"
                      data-inline="false"
                    ></span>
                    <span class="str-wrap-long">{{user.beautify_contact}}</span>
                  </div>
                </div>
                <div class="cart-summary-row">
                  <div class="cart-summary-key">Collection Slot</div>
                  <div class="cart-summary-value">
                    <b class="summary-slot">-----</b>
                  </div>
                </div>
                <div class="cart-summary-row">
                  <div class="cart-summary-key">Collection Day</div>
                  <div class="cart-summary-value">
                    <b class="summary-day">----</b>
                  </div>
                </div>
                <div class="cart-summary-row">
                  <div class="cart-summary-key">Payment Method</div>
                  <div class="cart-summary-value">
                    <b>PayPal</b>
                  </div>
                </div>
                <div class="cart-summary-row">
                  <div class="cart-summary-key">Total</div>
                  <div
                    id="cart-total"
                    class="cart-summary-value light-text cart-total-price"
                  >
                    &pound;0
                  </div>
                </div>
              </div>
              <div class="card-summary-footer">
                <div id="paypal-btn" class="disabled"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div id="order-success" class="cart-items-summary-wrapper">
        <div class="order-thank-you">
          <img
            class="thank-you-img"
            src="{% static 'images/thank-you.png' %}"
            alt="thank-you-image"
          />
        </div>
        <div class="order-success-container">
          <div class="order-success-details-wrapper">
            <div class="slot-header">Order success</div>
            <div class="order-success-details">
              <div class="cart-summary-row">
                <div class="cart-succ-summary-value">
                  <span
                  style="vertical-align: top;"
                    class="iconify collection-summary-icon"
                    data-icon="bx:bx-user"
                    data-inline="false"
                  ></span>
                  <span class="str-wrap-long">{{user.fullname}}</span>
                </div>
              </div>
              <div class="cart-summary-row">
                <div class="cart-succ-summary-value">
                  <span
                  style="vertical-align: top;"
                    class="iconify collection-summary-icon"
                    data-icon="eva:email-outline"
                    data-inline="false"
                  ></span>
                  <span class="str-wrap-long">{{user.email}}</span>
                </div>
              </div>
              <div class="cart-summary-row">
                <div class="cart-succ-summary-value">
                  <span
                  style="vertical-align: top;"
                    class="iconify"
                    data-icon="akar-icons:phone"
                    data-inline="false"
                  ></span>
                  <span class="str-wrap-long">{{user.beautify_contact}}</span>
                </div>
              </div>
              <div class="cart-summary-row">
                <div class="cart-succ-summary-value">
                  <span
                    class="iconify"
                    data-icon="bx:bx-time"
                    data-inline="false"
                  ></span>
                  <span id="order-success-collection-time">9:00 - 11:00</span>
                </div>
              </div>
              <div class="cart-summary-row">
                <div class="cart-succ-summary-value">
                  <span
                    class="iconify"
                    data-icon="bi:calendar-week"
                    data-inline="false"
                  ></span>
                  <span id="order-success-collection-day">Thursday</span>
                </div>
              </div>
              <div class="cart-summary-row">
                <div class="cart-succ-summary-value">
                  <span
                    class="iconify"
                    data-icon="fluent:payment-16-filled"
                    data-inline="false"
                  ></span>
                  <span>PayPal</span>
                </div>
              </div>
            </div>
          </div>
          <div class="order-success-items-wrapper">
            <div class="slot-header">Order Items</div>
            <div class="order-success-items-container">
              <div class="bill-row">
                <div>Bill Number</div>
                <div id="bill-container-id"></div>
              </div>
              <div id="order-result-main-container" class="order-success-products-container"></div>
              <div class="success-prices-summary">
                <div class="success-price-row">
                  <div>Sub totals (<span id="order-success-total-items"></span> items)</div>
                  <div id="order-success-subtotal"></div>
                </div>
                <div class="success-price-row">
                  <div>Voucher Code</div>
                  <div id="order-success-voucher-code">-----</div>
                </div>
                <div class="success-price-row">
                  <div>Discount</div>
                  <div id="order-success-discount">0%</div>
                </div>
                <div class="success-price-row">
                  <div>Total</div>
                  <div id="order-success-total"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="/" class="back-btn" style="margin-top: 20px; float: right; margin-right: -10px;">
          <span class="iconify" data-icon="akar-icons:arrow-back" data-inline="false"></span>
          Go Shopping
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block scripts %}
<script src="{% static 'js/cartUtils.js' %}"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AY2ViYHPd7BkmEYBmuiD32G6N2ihxh6SDdTwUyNXeAcNpNfEXZc5TM-RBZoP_mJkVDckfUZ9itfV6MkC&currency=GBP"></script>
<script src="{% static 'js/main-cart.js' %}"></script>
{% endblock %}
