{% extends 'base.html' %}
{% load static %}
{% load product_extras %}

{% block title %}{% if is_visitor_owner %}Manage Products{% else %}Products{% endif %} | efoodbasket{% endblock %}

{% block titleLinks %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stars.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product-cards.css' %}">
    <link rel="stylesheet" href="{% static 'css/omni-slider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block main %}
<div class="max-width-wrapper">
    <div class="main-search-wrapper">
        <div class="search-headers">
            <div class="search-results">
                {% if is_visitor_owner %}
                    Manage Products ({{ products|length }})
                {% else %}
                    Products by {{trader.user.fullname}}
                {% endif %}
            </div>
            {% if is_admin %}
                <div>Total ({{ products|length }})</div>
            {% endif %}
            {% if is_visitor_owner  %}
                <a href="{% url 'product_create' %}" class="add-product">Add Product</a>
            {% endif %}
        </div>
        <div class="search-body">
            <div class="filters-wrapper">
                <form id="filter-form" class="filter-form" action="#" method="get">
                    <div class="filter-row">
                        <div class="filter-heading">Rating: </div>
                        <div class="filter-body">
                            <div class="filter-stars-row">
                                <a href="5" class="filter-row-rating {% if selected_rating == '5' %}active{% endif %}">
                                    <div class="md-stars" style="--rating: 5"></div>
                                </a>
                            </div>
                            <div class="filter-stars-row">
                                <a href="4" class="d-flex filter-row-rating {% if selected_rating == '4' %}active{% endif %}">
                                    <div class="md-stars" style="--rating: 4"></div>
                                    <div class="and-up"> & above</div>
                                </a>
                            </div>
                            <div class="filter-stars-row">
                                <a href="3" class="d-flex filter-row-rating {% if selected_rating == '3' %}active{% endif %}">
                                    <div class="md-stars" style="--rating: 3"></div>
                                    <div class="and-up"> & above</div>
                                </a>
                            </div>
                            <div class="filter-stars-row">
                                <a href="2" class="d-flex filter-row-rating {% if selected_rating == '2' %}active{% endif %}">
                                    <div class="md-stars" style="--rating: 2"></div>
                                    <div class="and-up"> & above</div>
                                </a>
                            </div>
                            <div class="filter-stars-row">
                                <a href="1" class="d-flex filter-row-rating {% if selected_rating == '1' %}active{% endif %}">
                                    <div class="md-stars" style="--rating: 1"></div>
                                    <div class="and-up"> & above</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="filter-row">
                        <div class="filter-heading">
                            Price:
                        </div>
                        <div class="filter-body">
                            <div id="myRangeSlider" class="myRangeSlider"></div>
                            <div class="min-max-wrapper">
                                <input class="minMaxPrice" type="number" name="minPrice" id="minPrice" placeholder="0" value="{{selected_min_price}}" readonly>
                                <input class="minMaxPrice" type="number" name="maxPrice" id="maxPrice" placeholder="200" value="{{selected_max_price}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="filter-row">
                        <div class="filter-btn">Apply</div>
                        <div class="filter-reset-btn">Reset</div>
                    </div>
                </form>
            </div>
            <div class="results-wrapper">
                <div class="card-row">
                {% for product in products %}
                    <div class="card-col-big">
                        <div class="card-big">
                            <div class="card-img-wrapper">
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-big-img" src="{{ product.thumbnail_url }}" alt="product-img">
                                </a>
                            </div>
                            <div class="card-big-body">
                                <div class="card-big-title">
                                    <a href="{% url 'product_detail' product.id %}">
                                        {{product.name}}
                                    </a>
                                </div>
                                <div class="card-big-star-price">
                                    <div class="sm-stars" style="--rating: {{product.rating}};"></div>
                                    <div class="card-big-price">{{product.price|floatformat:2}} GBP</div>
                                </div>
                                <div class="card-key-value-wrapper">
                                    <div class="card-key-value-row">
                                        <div class="card-key">Shop</div>
                                        <div class="card-value">
                                            <span class="text-capital">{{product.shop.name}}</span>
                                        </div>
                                    </div>
                                    <div class="card-key-value-row">
                                        <div class="card-key">Stock</div>
                                        <div class="card-value">
                                            <span class="light-text">{{product.quantity}}</span>
                                        </div>
                                    </div>
                                    <div class="card-key-value-row">
                                        <div class="card-key">{{product.added_date|date:"m M y"}}</div>
                                    </div>
                                </div>
                                <div class="card-big-links">
                                    {% if is_visitor_owner or user.is_admin %}
                                        <a href="{% url 'product_update' product.id %}" class="card-cart">
                                            <span class="iconify" data-icon="akar-icons:edit" data-inline="false"></span>
                                        </a>
                                        <form action="{% url 'product_delete' product.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="value" value="value" />
                                            <button class="card-cart" onclick="return confirm('Are you sure you want to delete this product?\n\nIt will remove all data related to this product.');">
                                                <span></span>
                                                <span class="iconify" data-icon="mi:delete" data-inline="false"></span>
                                            </button>
                                        </form>
                                    {% endif %}
                                
                                    {% if not user.is_trader and not user.is_admin %}
                                        {% if user.is_authenticated %}
                                        {% is_in_wish_list product.id as is_in_wish_list %}

                                        <span class="card-cart wishlist-button {% if is_in_wish_list %}active{% endif %}" data-product-id="{{ product.id }}">
                                            {% if is_in_wish_list %}
                                                <span class='iconify' data-icon='bi:heart-fill' data-inline='false'></span>
                                            {% else %}
                                                <span class='iconify' data-icon='el:heart-empty' data-inline='false'></span>
                                            {% endif %}
                                        </span>
                                        {% endif %}
                                        <span class="card-cart add-to-cart" data-product-id="{{ product.id }}" data-quantity="1" 
                                        {% if not user.is_authenticated %}
                                        data-price="{{ product.price }}"
                                        data-image="{{ product.thumbnail_url }}"
                                        data-discount="{{ product.discount }}"
                                        data-product-name="{{ product.name }}"
                                        {% endif %}
                                        >
                                            <span></span>
                                            <span class="iconify cart--" data-icon="fluent:cart-20-regular" data-inline="false"></span>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <h3 style="margin: auto; margin-top: 60px; color: #777;">No products added yet.</h3>
                {% endfor %}
                </div>
            </div>
        </div>
        {% if page_obj.has_next %}
            <div class="more-btn-wrapper">
                <a href="?page={{ page_obj.next_page_number }}" class="more-btn">
                    <span>More Products</span>
                    <span class="iconify" data-icon="ant-design:caret-down-outlined" data-inline="false"></span>
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts%}
    <script src="{% static 'js/wishlist.js' %}"></script>
    <script src="{% static 'js/omni-slider.min.js' %}"></script>
    <script src="{% static 'js/main-search.js' %}"></script>
    {% if user %}
    <script src="{% static 'js/add-to-cart.js' %}"></script>
    {% else %}
    <script src="{% static 'js/add-to-cart-local.js' %}"></script>
    {% endif %}
{% endblock %}